doctype html
html
  head
    title css3动画交互调试加强版
    link(href="./css/style.css", rel="stylesheet", type="text/css")

body
  header.header
    .box.Ldf
      h1.logo css3 Animation

  section.content
    .box.Ldf
      section.control
        nav.btnbox
          -
            btns = {
              add: {
                zh: '添加'
              },
              group: {
                zh: '合并'
              },
              import: {
                zh: '导入'
              },
              delete: {
                zh: '删除'
              }
            }
          each btn, key in btns
            a.btn(href="javascript:;", class="btn-#{key}")=btn.zh
        ul.resource.list
          -
            resources = [
              {
                title: '搜索图标',
                id: 'css_short_id_2'
              },{
                title: '搜索栏',
                id: 'css_short_id_1'
              },{
                title: '下拉选择',
                id: 'css_short_id_3',
                p: 'css_short_id_1'
              }
            ]
          each resource, index in resources
            li.item
              span=resource.title


      section.main
        svg#print(width="800",height="600")
          circle#css_short_id_1(cx="20", cy="20", r="20", fill="none", stroke="#aaa")


  section.popup.Lposf
    .tab
      ul.tab-nav
        -
          navItems = {
            '0': {
              name: '变形&过渡'
            },
            '1': {
              name: '自定义动画'
            },
            '3': {
              name: '动画库',
            }
          }
        each item, key in navItems
          li
            a(data-type=key)=item.name
      dl.tab-cont
        if css3Cons
          each item, cons in css3Cons
            if cons.length ==1
              dt=item._name
            else if item._name
              dd
                if item._items
                  span.label=item._name
                  ul.list
                    each _item, key in item._items
                      if !(/^_.+$/.test(key))
                        li
                          span.item=_item._name
                          if item._items._type == 'unique'
                            input(type="radio", name=item._key)
                else
                  label=item._name
                    span.input
                      if item._value
                        input(type="text", value=item._value)
                      else
                        input(type="text")
                    span.unit=item._unit
                  span.range
                    input(type="range")










