doctype html
html
  head
    title css3动画交互调试加强版
    link(href="./css/style.css", rel="stylesheet", type="text/css")

body
  header.header
    .box.Ldf
      h1.logo css3 Animation

  section.content
    .box.Ldf
      section.control
        nav.btnbox
          -
            btns = {
              add: {
                zh: '添加'
              },
              group: {
                zh: '合并'
              },
              import: {
                zh: '导入'
              },
              delete: {
                zh: '删除'
              }
            }
          each btn, key in btns
            a.btn(href="javascript:;", class="btn-#{key}")=btn.zh
        ul.resource.list
          -
            resources = [
              {
                title: '搜索图标',
                id: 'css_short_id_2'
              },{
                title: '搜索栏',
                id: 'css_short_id_1'
              },{
                title: '下拉选择',
                id: 'css_short_id_3',
                p: 'css_short_id_1'
              }
            ]
          each resource, index in resources
            li.item
              span=resource.title


      section.main
        svg#print(width="800",height="600")
          circle#css_short_id_1(cx="20", cy="20", r="20", fill="none", stroke="#aaa")


  section.popup: .popupbox
    .tab
      ul.tab-nav
        -
          navItems = {
            '0': {
              name: '变形&过渡'
            },
            '1': {
              name: '自定义动画'
            },
            '3': {
              name: '动画库',
            }
          }
        each item, key in navItems
          li(class= key==0 ? 'active' : null)
            a(data-type=key)=item.name
      dl.tab-cont
        include _transform.jade
    //-     if css3Cons
    //-       each item, cons in css3Cons
    //-         -var transfromStyle = 'preserve-3d'
    //-         if cons.length ==1
    //-           dt=item._name
    //-         else if item._name
    //-           dd(class=item._ref == transfromStyle ? 'Ldn s3d' : 's2d')
    //-             if item._items
    //-               p.tip=item._name
    //-               ul.list
    //-                 each _item, key in item._items
    //-                   if !(/^_.+$/.test(key))
    //-                     li.item
    //-                       label

    //-                         if item._items._type == 'unique'
    //-                           input(type="radio", name=cons, data-origin=cons , value=_item._value || key)&attributes(_item._attrs || {})
    //-                           span.label=_item._name
    //-                         else
    //-                           span.label=_item._name
    //-                           input(type="text", name=key, data-origin=cons)&attributes(_item._attrs || {})
    //-                         if _item._unit
    //-                           span.unit=_item._unit
    //-                       if item._items._type != 'unique' && _item._noRange == undefined && item._items._noRange != true
    //-                         span.control
    //-                           input(type="range")&attributes(_item._attrs || {})
    //-             else
    //-               label
    //-                 span.label=item._name
    //-                 span.input
    //-                   input(type="text", data-origin=cons)&attributes(item._attrs || {})
    //-                 if item._unit
    //-                   span.unit=item._unit
    //-               if item._noRange != true
    //-                 span.control
    //-                   input(type="range")&attributes(item._attrs || {})
    .btnbox
      a(href="javascript:;").btn.btn--green 保存
      a(href="javascript:;").btn.btn--gray 撤消
    i.close X
  #scriptArea.Ldn
    script(src="../constant.js")
    script(src="./js/style.js")









